{% import enums %}
{% from webutil import tlable, icon_ex %}
<div class="box history_ev he_event {{ enums.he_event_class(history_entry.event_type()) }}">
  <div class="header">
    <span class="item left">Event: <strong>{% raw tlable(history_entry.event_name) %}</strong></span>
    <span class="item ext"></span>
    <span class="item right">
      {% if countdown %}
      ends in <span class="counter" data-count-to="{{ history_entry.end_time }}">(JS?)</span>
      {% end %}
    </span>
  </div>
  <div class="contents" style="">
    <div class="iconex_row">
    {% for card in history_entry.category_card_list("event") %}
      {% raw icon_ex(card, request.is_low_bandwidth) %}
    {% end %}
    </div>

    <small>
      <a href="/card/{{ history_entry.card_urlspec() }}">Batch</a>,
      <a href="/table/CASDE/{{ history_entry.card_urlspec() }}">Table</a>
      -
      Event runs from
      <span class="time_localize" data-ts="{{ history_entry.start_time }}" data-fmt="date">{{ history_entry.start_dt_string() }}</span>
      to
      <span class="time_localize" data-ts="{{ history_entry.end_time }}" data-fmt="date">{{ history_entry.end_dt_string() }}</span>
      ({{ "{:.1f}".format(history_entry.length_in_days()) }} days).
    </small>
  </div>
</div>