* {
  -webkit-font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  color: #56b8e0;
}
a:visited {
  color: #56b8e0;
}
body {
  background-color: #111;
  color: #eee;
}
@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
}
footer {
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 40px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.container.tight {
  font-size: 0;
}
/* main.html */
#search {
  border: none;
  width: 100%;
  background-color: #444;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
}
#suggestions {
  margin: 4px 0;
  /*  & > a {
    margin:2px 0;
    display:inline-flex;
    width:50%;
    .profile {
      width:100%;
      display:flex;
    }
  }*/
}
#suggestions > a {
  width: 100%;
  padding: 8px 10px;
  background-color: #333;
  display: block;
  color: #eee;
}
.welcome_spec {
  font-size: 0;
  max-width: 332px;
  margin: 0 auto;
  position: relative;
}
.welcome_spec .riinaface {
  height: 128px;
  width: 128px;
  position: absolute;
  top: 46px;
  left: 61px;
}
/* chara_partial */
.icon {
  display: inline-block;
  background-image: url(../img/smarkers.png?v3);
  background-position: -48px -76px;
  width: 48px;
  height: 48px;
}
.icon.icon_event {
  background-position: 0 -76px;
  width: 48px;
  height: 48px;
}
.icon.icon_n {
  background-position: -96px -76px;
  width: 48px;
  height: 48px;
}
.icon.icon_r {
  background-position: -154px 0;
  width: 48px;
  height: 48px;
}
.icon.icon_sr {
  background-position: -154px -48px;
  width: 48px;
  height: 48px;
}
.icon.icon_ssr {
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.icon.m_vi {
  background-position: -56px 0;
  width: 24px;
  height: 24px;
}
.icon.m_da {
  background-position: 0 0;
  width: 24px;
  height: 24px;
}
.icon.m_vo {
  background-position: -28px 0;
  width: 24px;
  height: 24px;
}
.icon.m_ba {
  background-position: 0 -52px;
  width: 24px;
  height: 24px;
}
.icon.s_pl {
  background-position: -56px -52px;
  width: 24px;
  height: 24px;
}
.icon.s_cprot {
  background-position: -56px -26px;
  width: 24px;
  height: 24px;
}
.icon.s_combobonus {
  background-position: -82px -52px;
  width: 24px;
  height: 24px;
}
.icon.s_scorebonus {
  background-position: -82px -26px;
  width: 24px;
  height: 24px;
}
.icon.s_heal {
  background-position: -28px -52px;
  width: 24px;
  height: 24px;
}
.icon.s_life {
  background-position: -28px -26px;
  width: 24px;
  height: 24px;
}
.icon.s_overload {
  background-position: 0 -26px;
  width: 24px;
  height: 24px;
}
.icon.s_allround {
  background-position: -108px -52px;
  width: 24px;
  height: 24px;
}
.icon.s_perfelegant {
  background-position: -108px -26px;
  width: 24px;
  height: 24px;
}
.icon.s_sb {
  background-position: 0px -161px;
  width: 24px;
  height: 24px;
}
.icon.s_focus {
  background-position: 0px -143px;
  width: 24px;
  height: 1px;
}
.icon.s_focus.s_focus_flat {
  background-position: -51px -187px !important;
  width: 24px !important;
  height: 24px !important;
}
.icon.s_cbonus_based_life {
  background-position: 0px -187px;
  width: 24px;
  height: 24px;
}
.icon.s_mimic {
  background-position: -26px -187px;
  width: 24px;
  height: 24px;
}
.icon.s_synergy {
  background-position: -76px -187px;
  width: 24px;
  height: 24px;
}
.icon.s_unknown {
  background-position: 0px -143px;
  width: 24px;
  height: 1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  .icon {
    border-radius: 4px;
  }
  .icon.icon_event,
  .icon.icon_n,
  .icon.icon_r,
  .icon.icon_sr,
  .icon.icon_ssr,
  .icon.m_vi,
  .icon.m_da,
  .icon.m_vo,
  .icon.s_pl,
  .icon.s_cprot,
  .icon.s_combobonus,
  .icon.s_scorebonus,
  .icon.s_heal,
  .icon.s_life,
  .icon.s_overload,
  .icon.m_ba,
  .icon.s_allround,
  .icon.s_focus,
  .icon.s_perfelegant,
  .icon.s_sb,
  .icon.s_cbonus_based_life,
  .icon.s_mimic,
  .icon.s_synergy {
    background-image: url(../img/smarkers@2x.png?v3);
    background-size: 202px 288px;
    border-radius: 0px;
  }
}
.Cute .icon.s_focus,
.Cute_kc .icon.s_focus {
  background-position: -26px -161px;
  width: 24px;
  height: 24px;
}
.Cool .icon.s_focus,
.Cool_kc .icon.s_focus {
  background-position: -51px -161px;
  width: 24px;
  height: 24px;
}
.Passion .icon.s_focus,
.Passion_kc .icon.s_focus {
  background-position: -76px -161px;
  width: 24px;
  height: 24px;
}
div.stdcon {
  /*padding:8px 16px*/
  position: relative;
}
.chara_header {
  padding: 10px 20px;
  background-color: #2b2b2b;
}
.chara_header .name_slab {
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 0px #000, -1px 0px #000, 0px 1px #000, 0px -1px #000, 0px 0px 15px #000;
}
.chara_header .name_slab .english {
  font-weight: normal;
  font-style: italic;
}
.chara_header .infor_slab {
  color: white;
  text-shadow: 1px 0px #000, -1px 0px #000, 0px 1px #000, 0px -1px #000;
}
.chara_header .infor_slab a {
  color: #56b8e0;
}
.chara_header .pose_sprite_container {
  background: center bottom no-repeat;
  width: 100%;
  height: 100%;
}
.table {
  background-color: #fff;
  color: black;
  font-size: 16px;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}
.table td {
  border: 1px solid #ddd;
  padding: 3px 6px;
  /* helps with overflow... */
  border-right-width: 0px!important;
}
.table tr:nth-child(even) {
  background-color: #eee;
}
th {
  font-size: 70%;
  text-transform: uppercase;
  padding: 3px 6px;
}
td.vocal,
td.vocal span {
  background-color: #ed5469;
  color: #ffffff;
  border-color: #e82641;
  font-weight: normal;
}
td.dance,
td.dance span {
  background-color: #56b8e0;
  color: #ffffff;
  border-color: #2ba6d8;
  font-weight: normal;
}
td.visual,
td.visual span {
  background-color: #ff9a33;
  color: #663300;
  border-color: #ff8100;
  font-weight: normal;
}
td.life,
td.life span {
  background-color: #32d48a;
  color: #07331f;
  font-weight: normal;
}
td.max_level,
td.max_level span {
  background-color: #d3cb53;
  color: #4c480e;
  font-weight: normal;
}
td.kizuna,
td.kizuna span {
  background-color: #fa7add;
  color: #ffffff;
  font-weight: normal;
}
td.Cute,
td.Cute span,
td.Cute a {
  border-color: #cc035d;
  background-color: #fb0774;
  font-weight: normal;
  color: white;
}
td.Cool,
td.Cool span,
td.Cool a {
  border-color: #0452e7;
  background-color: #236dfb;
  font-weight: normal;
  color: white;
}
td.Passion,
td.Passion span,
td.Passion a {
  border-color: #fdbd58;
  background-color: #fca926;
  font-weight: normal;
  color: black;
}
.Cool_ax {
  color: #0452e7;
}
.Cute_ax {
  color: #cc035d;
}
.Passion_ax {
  color: #ec9203;
}
.vocal_ax {
  color: #e82641;
}
.dance_ax {
  color: #2ba6d8;
}
.visual_ax {
  color: #ff8100;
}
.kizuna_ax {
  color: #f849d0;
}
.max_level_ax {
  color: #c2b831;
}
.life_ax {
  color: #25ae6f;
}
@media only screen and (max-width: 600px) {
  .stats.box .icon {
    display: block;
    float: right;
  }
  .stats_table tbody {
    display: block;
  }
  .stats_table tr {
    display: inline-block;
  }
  .stats_table td,
  .stats_table th {
    display: block;
    padding: 3px 6px;
    vertical-align: middle;
  }
  .stats_table th::before {
    content: " ";
    font-size: 142%;
  }
  .stats_table th {
    text-align: left;
  }
}
/* card_partial */
.carcon {
  /*width:@max_page_width / 2;*/
  display: -webkit-flex;
  display: flex;
  background-color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .carcon {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.carcon .card_left {
  display: inline-block;
  min-width: 272px;
  background-color: black;
  text-align: center;
  font-size: 0;
}
@media screen and (max-width: 600px) {
  .carcon .card_left {
    width: 100%;
  }
}
.carcon .card_left img {
  height: 340px;
  width: 272px;
}
.carcon .card_left .card_image_offlink {
  background-color: #373737;
  text-align: left;
  margin: 0;
  padding: 8px 8px;
}
.carcon .card_left .card_image_offlink:nth-child(3) {
  background-color: #2b2b2b;
}
.carcon .card_left .card_image_offlink:nth-child(4) {
  background-color: #1e1e1e;
}
.carcon .card_left .card_image_offlink a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
.carcon .card_left .card_image_offlink a:hover {
  text-decoration: underline;
}
.carcon .card_right {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  vertical-align: top;
  color: #222;
}
.carcon .card_right > * {
  font-size: 16px;
}
.carcon .card_right .spread_view {
  height: 350px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .carcon .card_right .spread_view {
    height: 720px;
  }
}
.carcon .card_right .evolution_setter {
  font-size: 80%;
  opacity: 0.7;
}
.carcon .card_right .evolution_setter.selected {
  opacity: 1.0;
}
.carcon .card_right > .content {
  padding: 10px 5px 0;
}
.carcon .card_right > .content.tight {
  padding: 0;
}
.carcon .card_right td {
  padding: 3px 6px;
}
.carcon .card_right .stats.box {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 0;
  background-color: #f2f2f2;
}
.carcon .card_right .stats_table {
  text-align: center;
}
/* this entire section is basically a hack to keep things aligned properly
 * chances are if you touch something here it will break, so don't do it */
@media screen and (min-width: 769px) {
  .name_tag {
    min-height: 40px;
  }
  .name_tag .item {
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px 0 10px;
  }
  .name_tag .ext {
    border-top: 20px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .name_tag .icon {
    vertical-align: text-bottom;
  }
}
@media screen and (max-width: 768px) {
  .name_tag {
    min-height: 28px;
  }
  .name_tag .item {
    line-height: 28px;
    font-size: 16px;
    padding: 0 6px 0 6px;
  }
  .name_tag .ext {
    border-top: 14px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid transparent;
  }
  .icon {
    vertical-align: middle;
  }
}
.name_tag {
  color: white;
  font-size: 0!important;
}
.name_tag small {
  vertical-align: bottom;
}
.name_tag .item.name {
  word-wrap: break-word;
}
.name_tag .item.name a {
  color: white;
  text-decoration: none;
}
.name_tag .item.name a:hover {
  text-decoration: underline;
}
.name_tag .item {
  display: inline-block;
  vertical-align: middle;
}
.name_tag .name::after {
  /* force all-latin text to align as jap text */
  content: "あ";
  color: transparent;
}
.name_tag .ext {
  vertical-align: middle;
  padding: 0;
}
.name_tag.Cute {
  background-color: #fb0774;
}
.name_tag.Cute .title {
  background-color: #cc035d;
}
.name_tag.Cute .ext {
  border-top-color: #cc035d;
  border-left-color: #cc035d;
}
.name_tag.Cool {
  background-color: #236dfb;
}
.name_tag.Cool .title {
  background-color: #0452e7;
}
.name_tag.Cool .ext {
  border-top-color: #0452e7;
  border-left-color: #0452e7;
}
.name_tag.Passion {
  color: #222;
  background-color: #fca926;
}
.name_tag.Passion .name a {
  color: #222;
}
.name_tag.Passion .title {
  background-color: #fdbd58;
}
.name_tag.Passion .ext {
  border-top-color: #fdbd58;
  border-left-color: #fdbd58;
}
.name_tag.force_small {
  height: 28px;
}
.name_tag.force_small .item {
  line-height: 28px;
  font-size: 16px;
  padding: 0 6px 0 6px;
}
.name_tag.force_small .ext {
  padding: 0;
  border-top: 14px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid transparent;
}
.name_tag.force_small .icon {
  vertical-align: middle;
}
span.let,
span.var {
  color: green;
}
span.var {
  font-weight: bold;
}
.box {
  margin: 0 5px 10px;
  display: inline-block;
  border: 1px solid;
  vertical-align: top;
  /*  small {
    vertical-align:bottom;
  }*/
}
.box.col2 {
  /* don't know why but it works
     * TODO replace it with something sane */
  width: calc(50% - 13px);
}
.box.unbordered {
  margin: 0;
  border-left: none;
  border-right: none;
}
.box.unbordered .content {
  padding: 0;
}
.box > .header {
  color: white;
  min-height: 24px;
  font-size: 0;
}
.box > .header .item {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  padding: 0 4px 0 4px;
  vertical-align: middle;
}
.box > .header .right::after {
  /* force all-latin text to layout as jap text */
  content: "あ";
  color: transparent;
}
.box > .header .ext {
  border-top: 12px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid transparent;
  vertical-align: middle;
  padding: 0;
}
.box.Cute {
  border-color: #cc035d;
}
.box.Cute > .header,
.box.Cute .table th,
.box.Cute .table_stub {
  background-color: #fb0774;
  color: white;
}
.box.Cute > .header .left,
.box.Cute .table th .left,
.box.Cute .table_stub .left {
  background-color: #cc035d;
}
.box.Cute > .header .ext,
.box.Cute .table th .ext,
.box.Cute .table_stub .ext {
  border-top-color: #cc035d;
  border-left-color: #cc035d;
}
.box.Cool {
  border-color: #0452e7;
}
.box.Cool > .header,
.box.Cool .table th,
.box.Cool .table_stub {
  background-color: #236dfb;
  color: white;
}
.box.Cool > .header .left,
.box.Cool .table th .left,
.box.Cool .table_stub .left {
  background-color: #0452e7;
}
.box.Cool > .header .ext,
.box.Cool .table th .ext,
.box.Cool .table_stub .ext {
  border-top-color: #0452e7;
  border-left-color: #0452e7;
}
.box.Passion {
  border-color: #fdbd58;
}
.box.Passion > .header,
.box.Passion .table th,
.box.Passion .table_stub {
  color: #222;
  background-color: #fca926;
}
.box.Passion > .header .left,
.box.Passion .table th .left,
.box.Passion .table_stub .left {
  background-color: #fdbd58;
}
.box.Passion > .header .ext,
.box.Passion .table th .ext,
.box.Passion .table_stub .ext {
  border-top-color: #fdbd58;
  border-left-color: #fdbd58;
}
.box.black {
  border-color: #5e5e5e;
}
.box.black > .header,
.box.black .table th,
.box.black .table_stub {
  color: white;
  background-color: #2b2b2b;
}
.box.black > .header .left,
.box.black .table th .left,
.box.black .table_stub .left {
  background-color: #5e5e5e;
}
.box.black > .header .ext,
.box.black .table th .ext,
.box.black .table_stub .ext {
  border-top-color: #5e5e5e;
  border-left-color: #5e5e5e;
}
.box > .content {
  padding: 5px;
}
.box > .content > * {
  vertical-align: middle;
}
.box > .content ul {
  margin: 0;
  list-style-position: inside;
  padding-left: 5px;
}
.box .table_stub {
  padding: 0 10px 10px;
  text-align: center;
}
.tlable:hover {
  background-color: #666!important;
  color: white!important;
}
.stepper {
  font-size: 0;
  border: 1px solid green;
  display: inline-block;
  line-height: normal;
}
.stepper input[type="text"] {
  padding: 0;
  margin: 0;
  border: none;
  width: 50px;
  line-height: 18px;
  font-size: 13px;
  text-align: center;
  vertical-align: top;
}
.stepper button {
  padding: 0;
  margin: 0;
  border: none;
  min-width: 26px;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
  background: green;
  color: white;
}
.control_row {
  background-color: #444;
}
.control_table .control_row,
.control_table {
  color: white;
}
.control_row th {
  color: white;
  text-align: left;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 80%;
}
.toggles_row td {
  min-width: 30px;
  text-align: center;
}
/* image switcher */
.rel {
  position: relative;
  display: inline-block;
}
.hang_inside {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.spread_view .hang_inside {
  right: auto;
  left: 10px;
}
.spread_view .sign_view {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 35%;
  max-height: 100%;
}
@media screen and (max-width: 600px) {
  .spread_view .sign_view {
    top: 0;
  }
}
.image_switch {
  padding: 3px 7px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.image_switch:visited {
  color: white;
}
.noline {
  text-decoration: none;
}
.iconex_row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.iconex_row > * {
  padding: 0 2px;
}
.profile {
  display: inline-flex;
  align-items: center;
  background: #444;
  border-radius: 4px;
}
.profile .profile_text {
  color: white;
  text-align: left;
  font-size: 80%;
  padding: 0 5px;
}
.crowd_tl_notice {
  font-size: 13px;
  padding: 6px 10px;
  color: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 9001;
}
.crowd_tl_notice a {
  color: #eee;
}
@media screen and (max-width: 600px) {
  .hides_under_mobile {
    display: none;
  }
}
.svx_left {
  text-align: center;
  background-color: #333;
  padding: 10px 20px 0;
}
.svx_face {
  margin: 5px 0 5px 5px;
  background-color: #222;
  border: 1px solid #000;
}
.icon.msprites {
  position: relative;
}
.icon.msprites::before {
  position: absolute;
  left: 1px;
  top: 1px;
  display: block;
  width: 9px;
  height: 9px;
  background: url("../img/smarkers.png?v2") -115px -26px no-repeat;
  content: "";
}
.icon.msprites.mm_vi::before {
  background-position: -145px -11px;
}
.icon.msprites.mm_da::before {
  background-position: -134px -11px;
}
.icon.msprites.mm_vo::before {
  background-position: -134px 0;
}
.icon.msprites.mm_ba::before {
  background-position: -145px 0;
}
.icon.msprites::after {
  position: absolute;
  left: 1px;
  top: 10px;
  display: block;
  width: 9px;
  height: 9px;
  background: url("../img/smarkers.png?v3") -145px -22px no-repeat;
  content: "";
}
.icon.msprites.ms_pl::after {
  background-position: -105px 0;
}
.icon.msprites.ms_cprot::after {
  background-position: -83px 0;
}
.icon.msprites.ms_combobonus::after {
  background-position: -116px 0;
}
.icon.msprites.ms_scorebonus::after {
  background-position: -94px 0;
}
.icon.msprites.ms_heal::after {
  background-position: -94px -11px;
}
.icon.msprites.ms_life::after {
  background-position: -83px -11px;
}
.icon.msprites.ms_overload::after {
  background-position: -105px -11px;
}
.icon.msprites.ms_allround::after {
  background-position: -116px -11px;
}
.icon.msprites.ms_perfelegant::after {
  background-position: -134px -22px;
}
.icon.msprites.ms_sb::after {
  background-position: 0px -151px;
}
.icon.msprites.ms_focus::after {
  background-position: -26px -151px;
}
.icon.msprites.ms_focus.s_focus_flat::after {
  background-position: -46px -151px !important;
}
.icon.msprites.ms_synergy::after {
  background-position: -56px -151px;
}
.icon.msprites.ms_cbonus_based_life::after {
  background-position: -36px -151px;
}
.icon.msprites.ms_mimic::after {
  background-position: -10px -151px;
}
.icon.msprites.ms_unknown::after {
  background-position: -145px -22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  .icon.msprites::after,
  .icon.msprites::before {
    background-image: url("../img/smarkers@2x.png?v3") !important;
    background-size: 202px 288px!important;
  }
}
.table .icon,
.table .profile {
  vertical-align: bottom;
}
td.cb_true {
  background-color: #b3e6b3;
  border-color: #8cd98c;
}
td.cb_false {
  background-color: #ffcccc;
  border-color: #ff9999;
}
strong.ga_unavailable {
  text-decoration: line-through;
  color: #990000;
}
strong.ga_available {
  color: #267326;
}
.avlistentry_regular_melded li {
  font-size: 80%;
}
.help {
  border-bottom: 1px dashed;
  cursor: help;
}
.global_header {
  background-color: #232323;
  color: #cccccc;
}
.global_header > span,
.global_header > a {
  display: inline-block;
  padding: 6px 6px;
}
.global_header a {
  text-decoration: none;
  color: white;
}
.global_header a:visited {
  color: white;
}
.global_header a::after {
  content: "»";
  padding-left: 8px;
}
.contains_large_table .table {
  min-width: 768px;
}
@media screen and (max-width: 768px) {
  .contains_large_table {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
}
.birthday_banner {
  position: relative;
  width: 100%;
  padding-left: 65px;
  padding-top: 12px;
  min-height: 58px;
}
.birthday_banner.r_Cool {
  background-color: #236dfb;
}
.birthday_banner.r_Cool a {
  color: white;
}
.birthday_banner.r_Cute {
  background-color: #ff6bec;
  color: black;
}
.birthday_banner.r_Cute a {
  color: black;
}
.birthday_banner.r_Passion {
  background-color: #ffc047;
  color: black;
}
.birthday_banner.r_Passion a {
  color: black;
}
.ribbon {
  background-image: url(../img/sribbons.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ribbon.r_Cool {
  background-position: 0 0;
  width: 48px;
  height: 48px;
}
.ribbon.r_Cute {
  background-position: -48px 0;
  width: 48px;
  height: 48px;
}
.ribbon.r_Passion {
  background-position: 0 -48px;
  width: 48px;
  height: 48px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  .ribbon {
    background-image: url("../img/sribbons@2x.png") !important;
    background-size: 96px 96px!important;
  }
}
.sort_key {
  text-decoration: underline;
}
.sort_key.in_use {
  color: #fedba4;
}
.sort_key[data-sort-reverse="yes"]::before {
  content: "▾ ";
}
.sort_key[data-sort-reverse="no"]::before {
  content: "▴ ";
}
td.filter_switch {
  background-color: #777777;
}
td.filter_switch.enabled {
  background-color: #44aa55;
}
a.fill_cell {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}
.box.history_ev {
  margin-bottom: 10px;
}
.box.history_ev > .contents {
  padding: 6px;
}
.box.he_new_idols {
  background-color: #333333;
  border-color: #4d4d4d;
}
.box.he_new_idols > .header {
  background-color: #333333;
  color: white;
}
.box.he_new_idols > .header .left {
  background-color: #4d4d4d;
}
.box.he_new_idols > .header .ext {
  border-top-color: #4d4d4d;
  border-left-color: #4d4d4d;
}
.box.he_event {
  background-color: #333333;
  border-color: #3385ff;
}
.box.he_event > .header {
  background-color: #333333;
  color: white;
}
.box.he_event > .header .left {
  background-color: #3385ff;
}
.box.he_event > .header .ext {
  border-top-color: #3385ff;
  border-left-color: #3385ff;
}
.box.he_gacha {
  background-color: #333333;
  border-color: #e5b700;
}
.box.he_gacha > .header {
  background-color: #333333;
  color: black;
}
.box.he_gacha > .header .left {
  background-color: #e5b700;
}
.box.he_gacha > .header .ext {
  border-top-color: #e5b700;
  border-left-color: #e5b700;
}
.box.he_gacha.he_limited {
  border-color: #ffa9a9;
}
.box.he_gacha.he_limited .left {
  background-color: #ffa9a9;
}
.box.he_gacha.he_limited .ext {
  border-top-color: #ffa9a9;
  border-left-color: #ffa9a9;
}
.he_divider {
  font-weight: bold;
  font-size: 70%;
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px;
}
.he_divider_line {
  border-color: #404040;
  border-style: solid;
}
.he_icx_limited {
  background-color: #664444;
}
