<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if is_dev %}
    <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
    <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
    {% end %}
    <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
    <script type="text/javascript" src="{{ handler.static_url("js/level.js") }}"></script>
    <script type="text/javascript" src="{{ handler.static_url("js/soundinliner.js") }}"></script>
    <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
</head>

<body>
  <div class="container donate_notice" style="font-size:13px;padding:6px 10px;color:white;">
    Hosting this used to be free, but now it's not. :/ <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KK2MLB7FGES32">If you find this useful, please consider a donation</a>. (It costs about ~$5 per month to host everything, plus ~$12 per year for the domain.)
  </div>

    {% for chain in cards %}
    <div class="container tight">
        {% set card_id = chain[0].id %}
        {% set card = chain[0] %}
        {% include card_partial.html %}
    </div>
    {% end %}

    {% include footer.html %}
    <script>tlinject_activate(); sound_inliner_init();</script>
</body>
</html>
