<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if is_dev %}
    <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
    <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
    {% end %}
    <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
    <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons@2x.css?c={{ starlight.data.version }}" />

    <script type="text/javascript" src="{{ handler.static_url("js/level.js") }}"></script>
    <script type="text/javascript" src="{{ handler.static_url("js/soundinliner.js") }}"></script>
    <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>

    <title>Idol: {{ chara.conventional }} (sldb)</title>
</head>

<body>
    {% include header.html %}

    <div class="container">
        {% include partials/chara_box.html %}
    </div>
    {% for chain in cards %}
    <div class="container tight">
        {% set card_id = chain[0].id %}
        {% set card = chain[0] %}
        {% include partials/card_box.html %}
    </div>
    {% end %}
    {% include partials/footer.html %}

    <script>tlinject_activate(); sound_inliner_init();</script>
</body>
</html>
