<div class="stdcon chara_header">
    <div class="name_slab">
        {% for kanji, furi in zip( *map(str.split, (chara.kanji_spaced, chara.kana_spaced)) ) %}
        <ruby>
            <rb>{{ kanji }}</rb> <rp>(</rp><rt>{{ furi }}</rt><rp>)</rp>
        </ruby>
        {% end %}

        (<span class="english">{{ chara.conventional }}</span>)
    </div>
</div>
{% if not use_table %}
<div class="va unbordered box black" style="width:100%">
  <div class="content">
    <div class="table_stub" style="padding-top:10px">
      <a class="image_switch" href="http://cgdex.project-imas.com/?v=idols&o=Name%20LIKE%20%22{{ chara.conventional }}%22">CGdex</a>
      <a class="image_switch" href="/sprite_go_ex/{{ chara.chara_id }}">Many faces</a>
      {% if not request.is_low_bandwidth %}
      <a class="image_switch" onclick="table('va_chara_{{ chara.chara_id }}', this)">Show character lines</a>
      {% else %}
      <a class="image_switch" onclick="load_table('va_chara_{{ chara.chara_id }}', 1, [{{ chara.chara_id }}], this)">Show character lines</a>
      {% end %}
    </div>
    <table style="display:none" id="va_chara_{{ chara.chara_id }}" class="table">
      {% if not request.is_low_bandwidth %}
      {% set va_id = [chara.chara_id] %}
      {% if chara.voice %}
        {% set include_title_call = 1 %}
      {% else %}
        {% set include_title_call = 0 %}
      {% end %}
      {% include va_table_partial.html %}
      {% end %}
    </table>
  </div>
</div>
{% else %}
<div id="raw_chara_{{ chara_id }}" class="stdcon table">
    <table class="table">
        {% for key, value in chara.__dict__.items() %}
        <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
        {% end %}
    </table>
</div>
{% end %}
