{% extends "generictable.html" %}

{% block extra_header %}
<div class="name_slab">
  {% raw tlable(gacha.name) %} <small>({{ gacha.id }})</small>
</div>
{% end %}

{% block extra_info %}
<ul>
  <li>This gacha ends in <span class="counter" data-count-to="{{ gacha.end_date.timestamp() }}">(JS?)</span>.</li>
  {% if rates and rates != gacha.rates._REGULAR_RATES %}
  <li>This gacha has abnormal rates: R {{ rates.r }}% / SR {{ rates.sr }}% / SSR {{ rates.ssr }}%</li>
  {% end %}
</ul>

<script> event_counter_init(); </script>
{% end %}