<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if is_dev %}
  <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
  {% end %}
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons@2x.css?c={{ starlight.data.version }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/modal.js") }}"></script>
  <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
  <style>.container { max-width:800px; } .box { margin:0; width:100%; }</style>
  <title>History (sldb)</title>
</head>

<body>
  {% include header.html %}

  <div class="container">
    {% set prev_header = None %}
    {% for history_entry in history %}

    {% set dt = history_entry.start_datetime() %}
    {% if (dt.month, dt.year) != prev_header %}
      <h2 id="date_{{ dt.strftime("%Y%m") }}" class="history_date_header">
        {{ dt.strftime("%B %Y") }}
      </h2>
      {% set prev_header = (dt.month, dt.year) %}
    {% end %}

    {% if history_entry.type() == 2 %}
      {% module Template("partials/hist_event.html", history_entry=history_entry, countdown=False) %}
    {% elif history_entry.type() == 3 %}
      {% module Template("partials/hist_gacha.html", history_entry=history_entry, rates_src={}, countdown=False) %}
    {% elif history_entry.type() == 4 %}
      {% module Template("partials/hist_new_ns.html", history_entry=history_entry) %}
    {% else %}
      {# omitted #}
    {% end %}

    {% end %}
  </div>
  <div class="container negative_box align_right page_box">
    {% if page > 1 %}
    <a href="/history/{{ page - 1 }}">Previous page</a>
    {% end %}
    <div class="flexible_space"></div>
    <a href="/history/{{ page + 1 }}">Next page</a>
  </div>

  {% include partials/footer.html %}
  <script> tlinject_activate() </script>
</body>
</html>
