<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if is_dev %}
  <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
  {% end %}
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ version.masters_version }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
</head>

<body>
  {% for new_list in history %}
  {% include new_list_partial.html %}
  {% end %}
  {% include footer.html %}
  <script> tlinject_activate() </script>
</body>
</html>