<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if is_dev %}
  <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
  {% end %}
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons@2x.css?c={{ starlight.data.version }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
  <style>.container { max-width:800px; } .box { margin:0; width:100%; }</style>
  <title>History (sldb)</title>
</head>

<body>
  {% include header.html %}

  <div class="container">
    {% for history_entry in history %}

    {% if history_entry.type() == 2 %}
      {% include partials/hist_event.html %}
    {% elif history_entry.type() == 3 %}
      {% include partials/hist_gacha.html %}
    {% elif history_entry.type() == 4 %}
      {% include partials/hist_new_ns.html %}
    {% else %}
      {# omitted #}
    {% end %}

    {% end %}
  </div>

  {% include partials/footer.html %}
  <script> tlinject_activate() </script>
</body>
</html>
