<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if is_dev %}
  <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
  {% end %}
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
  <script type="text/javascript" src="{{ handler.static_url("js/skills.js") }}"></script>

  <title>Cards by Centre Skill (sldb)</title>
</head>

<body>
  <div class="container">
    <div class="stdcon chara_header">
      <table class="stats_table control_table">
        <tr class="toggles_row">
          <th>Target Type</th>
          <td onclick="toggle_kill_css(this)" data-kill-class="ca_all" class="vocal" title="All variants">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ca_cute" class="vocal">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ca_passion" class="vocal">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ca_cool" class="vocal">X</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>All</th>
          <th>Cute</th>
          <th>Passion</th>
          <th>Cool</th>
        </tr>
      </table>
      <table class="stats_table control_table">
        <tr class="toggles_row">
          <th>Target Stat</th>
          <td onclick="toggle_kill_css(this)" data-kill-class="ce_vocal" class="vocal">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ce_visual" class="vocal">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ce_dance" class="vocal">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ce_anyappeal" class="vocal">X</td>
          <td><!-- dummy --></td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ce_life" class="vocal">X</td>
          <td onclick="toggle_kill_css(this)" data-kill-class="ce_skill" class="vocal">X</td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Vocal</th>
          <th>Visual</th>
          <th>Dance</th>
          <th>All</th>
          <th><!-- dummy --></th>
          <th>Life</th>
          <th>Skill Prob.</th>
        </tr>
      </table>
    </div>

    <table class="table" style="width:100%">
      <tr class="control_row">
        <th></th>
        <th class="hides_under_mobile"></th>
        <th>{{ _("Skill Name") }}</th>
        <th>{{ _("Effect") }}</th>
      </tr>
    {% for card in cards %}
      {% if card.lead_skill %}
      <tr class="{{ enums.lskill_effective_target(card.lead_skill.target_attribute) }}
             {{ enums.lskill_effective_param(card.lead_skill.target_param) }}">
        <td class="{{ enums.attribute(card.attribute) }}" style="width:1%">
          <a href="/char/{{ card.chara_id }}#c_{{ card.id }}_head">{% raw icon(card.id) %}</a>
        </td>
        <td class="{{ enums.attribute(card.attribute) }} hides_under_mobile">
          <a href="/char/{{ card.chara_id }}#c_{{ card.id }}_head">{{ tle.translate_name(card.name_only) }}</a><br>
            {% if card.title %}({% raw tlable(card.title) %}){% end %}
        </td>
        <td>{% raw tlable(card.lead_skill.name) %}</td>
        <td>{% raw starlight.en.describe_lead_skill_html(card.lead_skill) %}</td>
      </tr>
      {% end %}
    {% end %}
    </table>
  </div>

  {% include footer.html %}
  <script>tlinject_activate()</script>
</body>
</html>
