<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if is_dev %}
  <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
  {% end %}
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/home.js") }}"></script>
  <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
</head>

{% import random %}

<body>
  <div class="container donate_notice" style="font-size:13px;padding:6px 10px;color:white;">
    Hosting this used to be free, but now it's not. :/ <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KK2MLB7FGES32">If you find this useful, please consider a donation</a>. (It costs about ~$5 per month to host everything, plus ~$12 per year for the domain.)
  </div>

  <div class="container" style="max-width:800px">
    <div class="welcome_spec" onclick="alert('Are YOU an aspiring artist? Do you want to show off your amazing new original character [do not steal] to the six (ten when new cards arrive) people that visit this page?! @ me on Twitter (below)!!!')">
      <img class="chara_image" width="308" height="416" src="{{ image_host }}/special/buyit.png" title="https://store.steampowered.com/app/402620/"/>
      <!-- div class="riinaface" style="background-image:url({{ image_host }}/special/dari{{ random.randint(1, 5) }}.png)"></div-->
    </div>
    <input type="text" id="search" placeholder="{{ _("Names") }}" onkeyup="suggest(this, this.value)">
    <div id="suggestions"></div>
  </div>

  {% for event, reward_list in events %}
  <div id="event_counter_container" class="container" style="max-width:800px;display:none">
    <div class="box Cute" style="margin:0;width:100%">
      <div class="header">
        <span class="item left">Current event</span>
        <span class="item ext"></span>
      </div>
      <div class="content" style="background:#333;text-align:center;">
        <p style="margin:0;">"{% raw tlable(event.name) %}" ends in</p>
        <p class="counter" style="font-size:200%;font-weight:bold;margin:6px 0" data-count-to="{{ event.end_date.timestamp() }}">
          Nothing to see here.
        </p>

        <p style="margin-top:0;">Better start spending. Event rewards:</p>
        <div>
          {% for cid in reward_list %}
          {% raw icon_ex(cid) %}
          {% end %}
        </div>
      </div>
    </div>
  </div>
  {% end %}

  {% for gacha, available in la_cards %}
  <div id="lim_gacha_container" class="container" style="max-width:800px">
    <div class="box Cute" style="margin:0;width:100%">
      <div class="header">
        <span class="item left">Limited availability!</span>
        <span class="item ext"></span>
        <span class="item right">expires in <span class="counter" data-count-to="{{ gacha.end_date.timestamp() }}">meme</span></span>
      </div>
      <div class="content" style="background:#333;text-align:left;">
        {% for ent in available %}
        {% raw icon_ex(ent) %}
        {% end %}
      </div>
    </div>
  </div>
  {% end %}

  <div class="container" style="max-width:800px">
    <p><s>This is temporary while I sort stuff out...</s> There is nothing more permanent than temporary.</p>
    <ul>
      <li><a href="/skill_table">Skills table</a></li>
      <li><a href="/lead_skill_table">Lead skills table</a></li>
      <li><a href="https://twitter.com/n_triangle_dev">Follow the Holy Constituency on Twitter</a></li>
      <li><a href="/static/api.html">Developers who don't want to maintain their own data should check out the API.</a></li>
    </ul>
  </div>

  {% for new_list in history %}
  {% include new_list_partial.html %}
  {% end %}

  <div class="container" style="max-width:800px">
    <p><a href="/history">&gt; Previous additions</a></p>
  </div>

  {% include footer.html %}
  <script> tlinject_activate(); </script>
  <script> event_counter_init(); </script>
</body>
</html>
