<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if is_dev %}
  <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
  {% end %}
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons.css?c={{ starlight.data.version }}" />
  <link rel="stylesheet" type="text/css" href="{{ image_host }}/icons2/icons@2x.css?c={{ starlight.data.version }}" />
  <script type="text/javascript" src="{{ handler.static_url("js/home.js") }}"></script>
  <script type="text/javascript" src="{{ handler.static_url("js/tlinject.js") }}"></script>
  <style>.container { max-width:800px; } .box { margin:0; width:100%; }</style>

  <title>Starlight DB Main</title>
</head>

{% import random %}

<body>
  <div class="container">
    <input type="text" id="search" placeholder="{{ _("Search for idols") }}" onkeyup="suggest(this, this.value)">
    <div id="suggestions"></div>
  </div>

  <div class="container">
    {% set events_ = list(events) %}
    {% set la_cards_ = list(la_cards) %}

    {% if any((events_, la_cards_)) %}
    <div class="box black">
      {% for event, reward_list in events_ %}
      <div class="header">
        <span class="item left">Event: <b>{% raw tlable(event.name) %}</b></span>
        <span class="item ext"></span>
        <span class="item right">ends in <span class="counter" data-count-to="{{ event.end_date.timestamp() }}">meme</span></span>
      </div>
      <div class="content" style="background:#333;">
        <div class="iconex_row">
          <span>You'd better start spending. <br> Event rewards:</span>
          {% for cid in reward_list %}
          {% raw icon_ex(cid, request.is_low_bandwidth) %}
          {% end %}
        </div>
      </div>
      {% end %}
      {% for gacha, available in la_cards_ %}
      <div class="header">
        <span class="item left">Limited availability!</span>
        <span class="item ext"></span>
        <span class="item right">expires in <span class="counter" data-count-to="{{ gacha.end_date.timestamp() }}">meme</span></span>
      </div>
      <div class="content" style="background:#333;text-align:left;">
        {% for ent in available %}
        {% raw icon_ex(ent, request.is_low_bandwidth) %}
        {% end %}
      </div>
      {% end %}
    </div>
    {% end %}
  </div>

  <div class="container" style="max-width:1280px; display:none">
    <div class="box black">
      <div class="contents">
        <center id="splash"><p>This is your working space.<br>
                   Card stats can be compared by searching for them above.</p>
        </center>
        <table id="workspace_table" class="table">
          <tr>
            <th colspan="2">Idol</th>
            <th>Life</th>
            <th>Vo</th>
            <th>Vi</th>
            <th>Da</th>
            <th>Skill</th>
          </tr>
          <tr id="compare_idol_template" style="display:none">
            <td id="ci_icon" style="width:1%">{% raw icon(0) %}</td>
            <td id="ci_name" style="width:180px"></td>

            <td class="life"   id="ci_li">Li</td>
            <td class="vocal"  id="ci_vo">Vo</td>
            <td class="visual" id="ci_vi">Vi</td>
            <td class="dance"  id="ci_da">Da</td>
            <td id="ci_sk" style="font-size:70%">Sk</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <p><s>This is temporary while I sort stuff out...</s> There is nothing more permanent than temporary.</p>
    <ul>
      <li><a href="/skill_table">Skills table</a></li>
      <li><a href="/lead_skill_table">Lead skills table</a></li>
      <li><a href="https://twitter.com/n_triangle_dev">Follow the Holy Constituency on Twitter</a></li>
      <li><a href="/static/api.html">Developers who don't want to maintain their own data should check out the API.</a></li>
    </ul>
  </div>

  <div class="container">
    <p><small><a target="_blank" href="{{ handler.static_url("dots.html") }}">What are those dots for?</a></small></p>
    <div class="box black">
    {% for new_list in history %}
    {% include new_list_partial.html %}
    {% end %}
    </div>
  </div>

  <div class="container">
    <p><a href="/history">&gt; Previous additions</a></p>
  </div>

  {% include footer.html %}
  <script> tlinject_activate(); </script>
  <script> event_counter_init(); </script>
</body>
</html>
