<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if is_dev %}
    <link rel="stylesheet/less" type="text/css" href="{{ handler.static_url("css/main.less") }}" />
    <script type="text/javascript" src="{{ handler.static_url("js/less.js") }}"></script>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ handler.static_url("css/main.css") }}" />
    {% end %}
    <script type="text/javascript">
    var ISVR = "{{ load }}";
    var MARKER_EMPTY_FACE = "{{ handler.static_url("img/marker_empty_face.png") }}";
    var CHARA_NAME = "{{ chara.conventional }}";
    </script>
    <script type="text/javascript" src="{{ handler.static_url("js/svex.js") }}"></script>
    <title>Expressions: {{ chara.conventional }} (sldb)</title>
</head>

<body>
  {% include header.html %}

  <div id="the_template" style="display:none">
    <div class="carcon">
      <div class="svx_left">
        <div class="rel">
          <img alt="Bust." id="template_img" crossorigin="anonymous"/>
          <img alt="Face." id="template_overlay" crossorigin="anonymous"/>
        </div>
      </div>
      <div class="card_right">
        <div class="rel chara_header" style="width:100%">
          <div id="template_buttons"></div>
        </div>
        <div id="template_flist" class="content tight"></div>
      </div>
    </div>
  </div>

  <div id="main_content" class="container">
    <div class="va unbordered box black" style="width:100%">
      <div class="content">
        <div class="table_stub" style="padding-top:10px">
          <a class="image_switch" href="/char/{{ chara.chara_id }}">Go back</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  {% for pose in known_poses %}
  SVX_INIT_FOR_POSE({{ pose.pose }}, {{ pose.position_x }}, {{ pose.position_y }});
  {% end %}
  </script>

  <canvas id="buffer" style="display:none"></canvas>
  {% include partials/footer.html %}
</body>
</html>
