<tr>
  <th class="hides_under_mobile">{{ _("Usage") }}</th>
  <th colspan="2">{{ _("Text") }}</th>
</tr>
{% if include_title_call %}
<tr>
  <td class="hides_under_mobile">{{ _("Title call") }}</td>
  <td> ... </td>
  <td><a style="color:black" class="soundinliner-apply" href="{{ image_host }}/{{ audio(va_id[0], 4, 13) }}">(listen)</a></td>
</tr>
{% end %}
{% for current_va_id in va_id %}
  {% for id, usage, index, voice, text, nothing, nothing2 in starlight.data.va_data(current_va_id) %}
  <tr>
    <td class="hides_under_mobile">{% raw tlable("USE_TYPE__T_{0}".format(usage)) %}</td>
    <td>{% raw tlable(text.format("[Producer]")) %}</td>
    {% if voice %}
    <td><a style="color:black" class="soundinliner-apply" href="{{ image_host }}/{{ audio(id, usage, index) }}">(listen)</a></td>
    {% else %}
    <td>🙁</td>
    {% end %}
  </tr>
  {% end %}
{% end %}